<app-nav></app-nav>

<div class="conatiner my-4">
  <h2 class="display-3 text-center">This is user management system.</h2>
</div>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/logo-one.png" class="d-block " alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/logo-two.png" class="d-block " alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/logo.png" class="d-block " alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
